---
import MainLayouts from '../layouts/MainLayouts.astro';
import Hero from "../components/Hero.astro";

import App_links from "../components/personal-projects-links.astro";
---


<MainLayouts title="My Portfolio">
    <Hero />
    
	<style>
	.container-links {
        background-color: #9BA4B4;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .h2-de-la-pagina {
        margin-top: 5vh;
        text-shadow: 2px 2px 2px #0000003d;
    }
    </style>

    
    <div class="container-links">
        <h2 class="h2-de-la-pagina" id="my-projects">My Projects 🚀</h2>
        <App_links />
    </div>
</MainLayouts>