---
import data from '../data.json';
import IconosSocialmedia from './iconosSocialmedia.astro';

const fechaActual = new Date();
const year = fechaActual.getFullYear();
---

<footer class="">
    <div class='links-footer bg-red-500'>
        <p><a href={data.email}>Contacto</a></p>
        <p><a href="#my-projects">Proyectos</p></a>
        <p><a href="/">Home</a></p>
        <p><a href="../pages/about.astro">About</a></p>
    </div>
    <IconosSocialmedia />
    <p class="copyright-text">
        {data.nombre} ©️ {year} - All rights reserved. 
    </p>
</footer>

<!-- background-color: #22272e;-->
<!-- <style>
/*     footer {
        display: flex;
        align-items: center;
        height: 300px;
        flex-direction: column;
        box-shadow: 0px -1px 5px var(--shadow-box);
        padding-top: 1%;
        padding-bottom: 1%;
        } */
        .links-footer {
        display: inline-flex;
        flex-wrap: wrap;
        
        }
        a {
            text-decoration: none;
            color: var(--headline);
            margin: 6px;
        }
        .copyright-text{
            font-size: 0.75em;
        }
</style> -->