---
import data from '../data.json';
import IconosSocialmedia from './iconosSocialmedia.astro';

const fechaActual = new Date();
const year = fechaActual.getFullYear();
---

<footer>
    <div class='links-footer'>
        <p><a href={data.email}>Contacto</a></p>
        <p><a href="#my-projects">Proyectos</p></a>
        <p><a href="/">Home</a></p>
    </div>
    <IconosSocialmedia />
    <p class="copyright-text">
        {data.nombre} ©️ {year} - All rights reserved. 
    </p>
</footer>


<style>
    footer {
        display: flex;
        align-items: center;
        height: 16vh;
        flex-direction: column;
        background-color: var(--shadow-box);
        /* box-shadow: 0px -1px 5px var(--shadow-box); */
        padding-top: 1%;
        padding-bottom: 1%;
        }
        .links-footer {
        display: inline-flex;
        flex-wrap: wrap;
        
        }
        a {
            text-decoration: none;
            color: var(--headline);
            margin-inline: 6px;
        }
        .copyright-text{
            font-size: 0.75em;
        }
</style>