---
import data from '../data.json';
---
<script>
    const iconoBurger = document.querySelector('.icono-burger-menu');
    const menuburger = document.querySelector('.links-burger');

    if(iconoBurger && menuburger){
    iconoBurger.addEventListener('click', () => {
        menuburger.classList.toggle('invisible')
    });
    }




</script>

<nav>
    <div class="mi-nombre">
        <p><a href="/">{data.nombre}</a></p>
    </div>
    
<!-- Icono burger menu -->
    <div class='icono-burger-menu'>
        <img  class="menu-icon" src="/logos/menu.svg" alt="menu icon">
    </div>

<!-- los links del navbar -->
    <div class="links-navbar">
        <a href="/blog">Blog</a>
        <a href="/#my-projects">Projects</a>
        <!-- <a href="#">Formación</a> -->
        <a href={data.email}>Contacto</a>
    </div>
</nav>

<!-- html menu mobile -->
<div class="modal" >
    <div class="links-burger invisible">
        <a href="/blog">Blog</a>
        <a href="/#my-projects">Projects</a>
        <a href={data.email}>Contacto</a>
    </div>
</div>

<style>
* {
    margin: 0;
}
a { 
    font-weight: 500;
    text-decoration: none;
    color: var(--headline);
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--shadow-box);
    padding: 10px;
    z-index: 2;
    height: 4vh;
}
    nav .mi-nombre {
        font-size: var(--xxl);
        margin-left: 1rem;
    }
        nav .links-navbar a {
            margin-inline-end: 1rem;
        }
    nav .menu-icon{
        width: 2rem;
        display: none;
        margin-right: 0.5rem;
    }


/* 

css MENU MOBILE

*/
.icono-burger-menu {
    transition: all 300ms ease;
}
.icono-burger-menu:hover {
    transform: scale(1.1) skew(-2deg) translate(6px,0px);
    -webkit-transform: scale(1.1) skew(-2deg) translate(6px,0px);
    -moz-transform: scale(1.1) skew(-2deg) translate(6px,0px);
}

.links-burger{
    display: none;
    position: absolute;
    z-index: 1;
    flex-direction: column;
    max-width: 600px;
    width: 46vw;
    padding-bottom: 4vh;
    align-items:center;
    top: 55px;
    right: 0px;
    background-color: var(--shadow-box);
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    overflow: hidden;
    box-shadow: 0px 14px 80px rgba(5, 5, 5, 0.637);
}

    .links-burger a {
        padding-top: 20px;
    }



/* 
mobile 425px
tablet 768px
laptop hasta 1024px
pc large screen, superiores a 1024px
 */



@media only screen and (max-width: 768px) {

    .links-navbar{
        display: none;
    }
    nav .menu-icon {
        display: inline;
    }
    .links-burger{
        display: flex;
    }

}

/* 

fuera del media query, al final

*/

.invisible{
    display: none;
}

</style>
