---
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
import data from '../data.json';
---


<!DOCTYPE html>
<html lang="es">
    <head>
        <link rel="shortcut icon" href="/favicon.png" type="image/x-icon">
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&family=Roboto+Mono:wght@300;500;700&display=swap" rel="stylesheet"/>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>My Portfolio</title>
        <style>
            * {
                margin: 0;
            }
            :root {
                /* COLORES */
                --bg-color: #22272e;
                --headline: #f8f8f8;
                --p: #abd1c6;
                --button: #22272e;
                --button-hover: #16181d;
                --button-txt: #001e1d;
                --shadow-box: #16181D;
                /* fonts sizes */
                --sm: 70%;
                --md: 80%;
                --lg: 100%;
                --xl: 120%;
                --xxl: 140%;
            }
            body {
                display: flex;
                height: 100vh;
                flex-direction: column;
                justify-content: flex-start;
                background: var(--bg-color);
                color: var(--headline);
                font-family: "Quicksand", sans-serif;
            }
            h2 {
                font-family: "Roboto Mono", monospace;
                font-size: var(--lg);
                margin-bottom: 4vh;
                margin-top: 1vh;
            }
            h3 {
                font-family: "Roboto Mono", monospace;
                font-size: 100%;
                margin-bottom: 2vh;
            }
            a {
                text-decoration: none;
                color: var(--headline);
            }
            
            /* contendor principal */
            .container-profile {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                height: 100vh;
            }
                /* >> foto perfil */
                #profile-img {
                    margin: 3vw;
                    border-radius: 50%;
                    width: 40vw;
                    max-width: 300px;
                    transition: 0.15s;
                    box-shadow: 5px 1px 10px var(--shadow-box);
                }
                    #profile-img:hover {
                        width: 40vw;
                    }
                /* >> descripcion principal */
                .profile-description {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    margin: 4vw;
                    
                }
                    .profile-description span {
                        display: block;
                        margin-top: 1rem;
                        
                    }
                    .container-profile .profile-description .boton-cta {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        text-decoration: none;
                        background-color: #ffc83d;
                        color: var(--button-txt);
                        box-shadow: 5px 1px 10px var(--shadow-box);
                        text-decoration: none;
                        padding: 15px;
                        margin: 0.5vh;
                        margin-top: 3vh;
                        border-radius: 3vw;
                        height: 1vh;
                        width: 12vw;
                        font-size: var(--md);
                        font-weight: 700;
                        transition: 0.1s;
                        
                    }
                        .boton-cta:hover {
                            background-color: var(--p);
                            /* font-size: 3vh; */
                            height: 2vh;
                            width: 14vw;
                            border-radius: 5vw;
                        }

        </style>
    </head>
    <body>
        <Navbar />
        <header>
            <div class="container-profile">
                <img id="profile-img" src="/franmore-dev-profile.jpg" alt="profile"/>
                <div class="profile-description">
                    <h1>Hi, I'm Franco🤚
                    <span>I'm a front-end developer.</span></h1>
                    <a class="boton-cta" href={data.email}><strong>Contacto</strong></a>
                </div>
            </div>
        </header>

        <slot />

        <Footer />

    </body>
</html>
