---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
---

<!DOCTYPE html>
<html lang="es">
    <head>
        <link rel="shortcut icon" href="/favicon.png" type="image/x-icon">
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!-- incluyendo tailwind -->
        <link href="./src/output.css" rel="stylesheet">

        <!-- agregando los meta para facebook (Open Graph https://freecodetools.org/ogp/ -->
        <meta property="og:title" content="Franco Moreira - Portfolio">
        <meta property="og:site_name" content="Franmore.ar">
        <meta property="og:url" content="https://franmore.ar/">
        <meta property="og:description" content="Programador web Frontend - de San Juan, Argentina, con experiencia en desarrollo web y conocimiento en el sector agropecuario.  Agro Tech, SEO, CAD  y data science.">
        <meta property="og:type" content="website">
        <meta property="og:image" content="https://franmore.ar/franmore-dev-profile.jpg">

        <!--google fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&family=Roboto+Mono:wght@300;500;700&display=swap" rel="stylesheet"/>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <title>My Portfolio</title>

    </head>
    <body class="
        bg-[#22272e]
        border-2
        flex
        flex-col
        justify-start
        text-[#f8f8f8]
        
        ">
        <Navbar />
        <Header />


        <slot /> <!--aqui entra un Pages -->

        <Footer /> <!--aqui entra un Componente -->

    </body>
</html>
<style>
    body {
        font-family: "Montserrat", sans-serif;
    }
    h2, h1 {
        font-family: "Quicksand", sans-serif;
    }
</style>