---
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import Head from "../components/Head.astro";

const { title } = Astro.props;

---


<!DOCTYPE html>
<html lang="es">
    <Head title={title}/>
    <style>
        * {
            margin: 0;    
        }
    </style>
    <body>
        <Navbar />
        <main class="container">
            <slot />
        </main>       
        <Footer />
    </body>
</html>
